{% extends "base.html"%} {% block title %} Medialist {% endblock %} {% block
head %} {{ super() }}
<style>
  {%if darkmode%}
  body {
    background-color: #121212;
  }

  .pagination > .page-item > .page-link
  {
    background-color: #212529;
    color: white;
    border-color: #373b3e;
  }


  .pagination > .page-item > .page-link:focus,
  .pagination > .page-item  > .page-link:hover
  {
      color: white;
      background-color: #2c3034;
      border-color: #373b3e;
  }
  {%endif%}

  .pagination > .active > .page-link
  {
    background-color: #0d6efd;
    color: white;
  }

  .title_text {
    cursor: pointer;
  }


</style>
{% endblock %}
{% block content %}

<div class="modal fade " id="mediaModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content {% if darkmode %} bg-dark text-white {% endif %}">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-7">Title:</dt>
          <dd class="col-sm-5" id="titleLabel"></dd>
          <dt class="col-sm-7">Author:</dt>
          <dd class="col-sm-5" id="authorLabel"></dd>
          <dt class="col-sm-7">Age Limit:</dt>
          <dd class="col-sm-5" id="ageLimitLabel"></dd>
          <dt class="col-sm-7">ISBN:</dt>
          <dd class="col-sm-5" id="isbnLable"></dd>
          <div><hr class="px-5"></div>
          <dt class="col-sm-7">Status:</dt>
          <dd class="col-sm-5" id="statusLabel"></dd>
          <dt class="col-sm-7" id="etaLabelTitle"></dt>
          <dd class="col-sm-5" id="etaLabel"></dd>
          <dt class="col-sm-7" id="borrowerLabelTitle"></dt>
          <dd class="col-sm-5" id="borrowerLabel"></dd>
        </dl>
        <button type="button" class="btn btn-primary" id="borrowBtn" onclick="">Borrow Media</button>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="errorToast" class="toast {% if darkmode %} bg-dark text-white {%endif%}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header {% if darkmode %} bg-dark text-white {%endif%}">
      <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#dc3545"></rect>
      </svg>
      <strong class="me-auto">Error</strong>
      <button type="button" class="btn-close text-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="errorToastBody"></div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="infoToast" class="toast {% if darkmode %} bg-dark text-white {%endif%}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="700">
    <div class="toast-header {% if darkmode %} bg-dark text-white {%endif%}">
      <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#007aff"></rect>
      </svg>
      <strong class="me-auto">Info</strong>
      <button type="button" class="btn-close text-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="infoToastBody"></div>
  </div>
</div>

<div class="container mt-3">
  <table
    class="table table-striped table-bordered rounded table-hover {% if darkmode %} table-dark {%endif%}"
  >
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">
          <a
            href="{{update_query_params(url, sort="title", sort_type="DESC" if sort_field=='title' and sort_dir == 'ASC' else "ASC")}}"
            class="text-decoration-none text-reset"
            >Title&nbsp; {%if sort_field == "title"%} {% if sort_dir == "ASC" %}
            <i class="fa-solid fa-sort-down"></i> {% else %}
            <i class="fa-solid fa-sort-up"></i> {% endif %} {% else %}
            <i class="fa-solid fa-sort"></i> {%endif%}</a
          >
        </th>
        <th scope="col">
          <a
            href="{{update_query_params(url, sort="author", sort_type="DESC" if sort_field=='author' and sort_dir == 'ASC' else "ASC")}}"
            class="text-decoration-none text-reset"
            >Author&nbsp;{%if sort_field == "author"%} {% if sort_dir == "ASC" %}
            <i class="fa-solid fa-sort-down"></i> 
            {% else %}
            <i class="fa-solid fa-sort-up"></i> {% endif %} {% else %}
            <i class="fa-solid fa-sort"></i> {%endif%}</a
          >
        </th>

        <th scope="col">
          <a
            href="{{update_query_params(url, sort="age_limit", sort_type="DESC" if sort_field=='age_limit' and sort_dir == 'ASC' else "ASC")}}"
            class="text-decoration-none text-reset"
            >Age Limit&nbsp;{%if sort_field == "age_limit"%} {% if sort_dir ==
            "ASC" %} <i class="fa-solid fa-sort-down"></i> {% else %}
            <i class="fa-solid fa-sort-up"></i> {% endif %} {% else %}
            <i class="fa-solid fa-sort"></i> {%endif%}</a
          >
        </th>
        <th scope="col">
          <a
            href="{{update_query_params(url, status='availabel' if borrow_status_filter == 'all' else ('all' if borrow_status_filter == 'borrowed' else 'borrowed'))}}" 
            class="text-decoration-none text-reset">Status&nbsp;<i
            class="fa-solid fa-repeat" {%if borrow_status_filter != 'all' %} style="color: {{'red' if borrow_status_filter == 'borrowed' else 'green'}}" {%endif%}
            ></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in table_data %}
      <tr>
        <td>{{ i.media_type }}</td>
        <th scope="row"><span onclick="show_modal({{i.id}})" class="title_text text-decoration-underline text-primary">{{ i.title }}</span></th>
        <td>{{ i.author }}</td>

        <td>{{ i.age_limit }}</td>
        <td>{% if is_media_borrowed(i.id) %} Borrowed {% else %} Availabel {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item {% if page + 1 == 1 %} disabled {% endif %}">
        <a class="page-link" href="{{update_query_params(url, page=page - 1)}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for i in range(page_count) %}
      <li class="page-item {% if i == page %} active disabled {%endif%}">
        <a class="page-link" href="{{update_query_params(url, page=i)}}">{{i + 1}}</a>
      </li>
      {% endfor %}
      <li class="page-item {% if page + 1 == page_count %} disabled {% endif %}">
        <a class="page-link" href="{{update_query_params(url, page=page + 1)}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
  
    </ul>

  <script>
    function show_modal(media_id) {
      const mediaModal = new bootstrap.Modal(document.getElementById("mediaModal"), {
        keyboard: false
      });
      
      fetch(`/api/media/${media_id}`)
        .then((res) => res.json())
        .then((data) => {
          const modalLabel = document.querySelector('#modalLabel');
          const titleLabel = document.querySelector('#titleLabel');
          const authorLabel = document.querySelector('#authorLabel');
          const ageLimitLabel = document.querySelector('#ageLimitLabel');
          const isbnLable = document.querySelector('#isbnLable');
          const statusLabel = document.querySelector('#statusLabel');
          const etaLabelTitle = document.querySelector('#etaLabelTitle');
          const etaLabel = document.querySelector('#etaLabel');
          const borrowerLabelTitle = document.querySelector('#borrowerLabelTitle');
          const borrowerLabel = document.querySelector('#borrowerLabel');
          const borrowBtn = document.querySelector('#borrowBtn')

          modalLabel.textContent = data.title;
          titleLabel.textContent = data.title;
          authorLabel.textContent = data.author;
          ageLimitLabel.textContent = data.age_limit;
          isbnLable.textContent = ((data.isbn) ? data.isbn : '');
          statusLabel.textContent = ((data.is_borrowed) ? 'Borrowed' : 'Avalible');
          etaLabelTitle.textContent = "";
          etaLabel.textContent = "";
          borrowerLabelTitle.textContent = "";
          borrowerLabel.textContent = "";

          borrowBtn.disabled = false;

          if (data.is_borrowed) {
            etaLabelTitle.textContent = "Estimated Return Date:";
            etaLabel.textContent = data.estimated_return;
            borrowerLabelTitle.textContent = "Borrower:";
            borrowerLabel.textContent = data.borrower;
            borrowBtn.disabled = true;
          }

          borrowBtn.onclick = () => {
            fetch(`/api/user/borrow/${media_id}`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
            })
              .then((response) => response.json())
              .then((data) => {                  

                if (data.error) {
                  const errorToast = new bootstrap.Toast(document.querySelector('#errorToast'), {});
                  const errorToastBody = document.querySelector('#errorToastBody');
                  errorToastBody.innerHTML = data.error;
                  errorToast.show();
                } else if (data.status) {
                  const infoToast = new bootstrap.Toast(document.querySelector('#infoToast'), {});
                  const infoToastBody = document.querySelector('#infoToastBody');
                  infoToastBody.innerHTML = "Borrowed Book";
                  infoToast.show()
                }
                mediaModal.hide()
              })
              .catch((error) => {
                console.log('error: ' + error);
              });
          }

          mediaModal.show();
        })
    }

    const infoToast = document.querySelector('#infoToast')
    infoToast.addEventListener('hidden.bs.toast', () => {
      window.location.reload();
    })
  </script>
</div>

</nav>
{% endblock %}
