<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/solid.css" rel="stylesheet" />
    <title>{% block title %}{% endblock %} - SQL Library</title>
    {% endblock %}
  </head>
  <body class="h-100">
    <nav
      class="sticky-top navbar navbar-expand-lg bg-light {% if darkmode %} navbar-dark bg-dark {% endif %}"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SQL Library</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/medialist">Medialist</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Account
              </a>

              <ul
                class="dropdown-menu {% if darkmode %} dropdown-menu-dark {% endif %}"
              >
                {% if logged_in %}
                <li><a class="dropdown-item" href="/me">User Panel</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <span class="dropdown-item" disabled>Hello, {{ name }}</span>
                </li>
                {% if is_admin %}
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/admin">Admin Panel</a>
                </li>
                {% endif %} {% if is_staff %}
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/staff">Staff Panel</a>
                </li>
                {% endif %} {% else %}
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/signin">Signin</a></li>

                {% endif %}
              </ul>
            </li>
          </ul>

          <div
            class="form-check form-switch me-2 {% if darkmode %} text-white {% endif %}"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="darkmode-switch"
              {%if
              darkmode
              %}
              checked
              {%endif%}
            />
            {%if darkmode%}<i class="fa-solid fa-moon"></i>{%else%}<i
              class="fa-solid fa-sun"
            ></i
            >{%endif%}
          </div>

          <form class="d-flex" role="search" id="search-form">
            <select
              class="form-select {%if darkmode%} bg-dark text-white {%endif%}"
              aria-label="Default select example"
              style="border-radius: 0.375rem 0rem 0rem 0.375rem"
              name="media_type"
            >
              <option {% if not media_type_selection %}selected {%endif%}>
                All
              </option>
              {% for i in media_types %}
              <option value="{{i}}" {% if i == media_type_selection %} selected {% endif %}>{{i}}</option>
              {% endfor %}
            </select>
            <input
              class="form-control  {%if darkmode%} bg-dark text-white {%endif%}"
              style="border-radius: 0"
              type="search"
              placeholder="by(<Author>)"
              aria-label="Search"
              value="{{ query if query }}"
            />
            <button class="btn btn-outline-primary" style="border-radius: 0rem.375rem 0.375rem 0rem" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <script defer>
      document
        .getElementById("darkmode-switch")
        .addEventListener("input", function (event) {
          var newURL = new URL(window.location);
          newURL.pathname = "/darkmode";
          newURL.search = `?ref=${window.location.pathname}`;
          window.location = newURL.toString();
        });

      document
        .getElementById("search-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var media_type = event.target[0].value;
          var query = event.target[1].value;
          var newURL = new URL(window.location);
          newURL.searchParams.set("query", query);
          if (media_type != "All") {
            newURL.searchParams.set("media_type", media_type);
          } else {
            newURL.searchParams.delete("media_type");
          }
          newURL.pathname = "/medialist";
          window.location = newURL.toString();
        });
    </script>
    {% block content %}{% endblock %}
  </body>
</html>
