{% extends "base.html"%} {% block title %} Library {% endblock %} {% block
head%} {{ super() }}

<style>
  body {
    background-color: #121212;
  }
  .title-section {
    padding-top: 5rem;
  }

  .sub-title {
    padding-left: 5rem;
  }

  .dotted-link {
    text-decoration-style: dotted;
  }

  footer {
    color: white;
  }

  .header-section {
    {% if darkmode %}
    background-color: #212529;
    color: white;
    {% else %}
    background-color: #f8f9fa;
    {%endif%}

  }
  .image-section {
    top: 30%;
  }

  #header-image {
    width: 34vw;
  }

  .negative-margin {
    margin-bottom: -100px;
  }

  @media only screen and (max-width: 768px) {
    #header-image {
      width: 60vw;
    }
    .image-section {
      top: 20%;
    }
    .negative-margin {
      margin-bottom: -20px;
    }
    .header-section {
      padding-top: 20px;
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 769px) {
    #header-image {
      width: 50vw;
    }
    .negative-margin {
      margin-bottom: -20px;
    }
  }
</style>
{% endblock %} {% block content %}
<div class="position-relative">
  <section class="header-section d-flex justify-content-center pt-2">
    <div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column align-self-center">
          <span class="display-4"
            ><img src="/static/images/books.png" alt="books emoticon" /> SQL
            Library</span
          >
          <span class="text-muted sub-title"
            >Made with
            <a href="https://github.com/pallets/flask" class="dotted-link"
              >Flask</a
            >,
            <a href="https://github.com/python/cpython" class="dotted-link"
              >Python</a
            >
            and SQL</span
          >
          <button
            class="btn btn-primary mt-3"
            onclick="window.location.pathname = '/medialist'"
          >
            Medialist
          </button>
          <div class="btn-group">
            {%if  logged_in%}
              <button
                class="btn btn-outline-primary mt-3"
                onclick="window.location.pathname = '/me'"
              >
                User Panel
              </button>
              {%if is_staff%}
                <button
                  class="btn btn-outline-primary mt-3"
                  onclick="window.location.pathname = '/staff'"
                >
                  Staff Panel
                </button>
              {%elif is_admin%}
                <button
                  class="btn btn-outline-primary mt-3"
                  onclick="window.location.pathname = '/admin'"
                >
                  Admin Panel
                </button>
              {%endif%}
            {%else%}
              <button
                class="btn btn-outline-primary mt-3"
                onclick="window.location.pathname = '/login'"
              >
                Login
              </button>
              <button
                class="btn btn-outline-primary mt-3"
                onclick="window.location.pathname = '/signin'"
              >
                Signin
              </button>
            {%endif%}
          </div>
          <div class="negative-margin"></div>
        </div>
      </div>
      <section class="position-relative image-section">
        <div>
          <img
            id="header-image"
            class="rounded img-fluid shadow-lg"
            src="/static/images/library.webp"
            alt="picture of library"
          />
        </div>
      </section>
    </div>
  </section>
</div>
{% endblock %}
