{% extends "base.html"%} {% block title %} Staff Panel {% endblock %} {% block
head %} {{ super() }}

<style>
  {% if darkmode %}
    body {
      background-color: #121212;
    }

    .nav-tabs {
        border-color: #373b3e;
    }

    .nav-item > .nav-link {
      background-color:  transparent;
      border-color: none;
    }

    .nav-item > .nav-link.active {
        background-color:  #212529;
        color: white;
        border-color: #373b3e #373b3e #212529 #373b3e ;
    }
    .card {
      background-color: #121212;
      color: white;
    }
  {% endif %}
</style>
{% endblock %} {% block content %}

<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link text-black {% if darkmode %} text-white {%endif%}"
        aria-current="page"
        href="{{url_for('panel_bluep.staff_panel_addremove')}}"
        >Add/Remove</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="">Alter</a>
    </li>
  </ul>
  <div
    style="background-color: {%if darkmode%} #212529 {%else%} #eee {%endif%}; border-color: #373b3e"
    class="p-3 pt-4"
  >
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 for="mediaSearch" class="{%if darkmode %} text-white {%endif%}">
              Alter a Media
            </h5>
            <div class="d-flex flex-column">
              <div class="input-group">
                <input
                  type="search"
                  id="mediaSearch"
                  placeholder="Search for Media"
                  class="form-control {%if darkmode%} bg-dark text-white border-dark {%endif%}"
                />
              </div>
              <ul
                class="list-group d-none"
                style="border-radius: 0rem 0rem 0.375rem 0.375rem"
                id="mediaResults"
              ></ul>
              <button class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">Work in Progress</div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 for="mediaSearch" class="{%if darkmode %} text-white {%endif%}">
              Alter a Author
            </h5>
            <div class="d-flex flex-column">
              <div class="input-group">
                <input
                  type="search"
                  id="authorSearch"
                  placeholder="Search for Authors"
                  class="form-control {%if darkmode%} bg-dark text-white border-dark {%endif%}"
                />
              </div>
              <ul
                class="list-group"
                style="border-radius: 0rem 0rem 0.375rem 0.375rem"
                id="authorResults"
              ></ul>
              <button class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function removeResChildren(parent) {
      while (parent.firstChild) {
          parent.firstChild.remove();
      }
  }

  function registerAPIQuery(search_el, result_el, query_endpoint) {
      search_el.addEventListener("input", (event) => {
          if (search_el.value.length == 0) {
              result_el.classList.add("d-none");
              search_el.style.borderBottomRightRadius = "0.375rem";
              search_el.style.borderBottomLeftRadius = "0.375rem";
              return false;
          }

          fetch(query_endpoint, {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                      query: search_el.value
                  }),
              })
              .then((response) => response.json())
              .then((data) => {
                  search_el.style.borderBottomRightRadius = "0";
                  search_el.style.borderBottomLeftRadius = "0";
                  removeResChildren(result_el);
                  data.results.map((result) => {
                      const button = document.createElement("button");
                      button.classList.add("list-group-item", "list-group-item-action");
                      {% if darkmode %}
                      button.style.backgroundColor = "#121212";
                      button.style.color = "white";
                      button.style.borderColor = "#212529";
                      {% endif %}
                      button.textContent = result;
                      button.type = "button";
                      button.addEventListener("click", (event) => {
                          var btnText = event.target.textContent;
                          search_el.value = btnText;
                          result_el.classList.add("d-none");
                          search_el.style.borderBottomRightRadius = "0.375rem";
                          search_el.style.borderBottomLeftRadius = "0.375rem";
                      });
                      result_el.appendChild(button);
                  });
                  result_el.classList.remove("d-none");
              }).catch((error) => console.log(error));
      });
  }

  var mediaSearchEl = document.getElementById("mediaSearch");
  var mediaResultsEl = document.getElementById("mediaResults");
  registerAPIQuery(mediaSearchEl, mediaResultsEl, "/api/mini_search/media");

  var authorSearchEl = document.getElementById("authorSearch")
  var authorResultsEl = document.getElementById("authorResults")
  registerAPIQuery(authorSearchEl, authorResultsEl, "/api/mini_search/author")
</script>
{%endblock%}
