{% extends "base.html" %}
{% block title %}User Managment{% endblock %}
{%
block head %} {{ super() }}
<script src="{{ url_for('static', filename='js/minisearch.js')}}"></script>
<style>
  {% if darkmode %}
    body {
      background-color: #121212;
    }

    .nav-tabs {
        border-color: #373b3e;
    }

    .nav-item > .nav-link {
      background-color:  transparent;
      border-color: none;
    }

    .nav-item > .nav-link.active {
        background-color:  #212529;
        color: white;
        border-color: #373b3e #373b3e #212529 #373b3e ;
    }
    .card {
        background-color: #121212;
        color: white;
      }
  {% endif %}
</style>
{% endblock %}
{% block content %}
  <div class="container mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="">User Managment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if darkmode %} text-white {% endif %}"
           href="{{ url_for('panel_bluep.admin_bluep.server_dashboard')}}">Server Dashboard</a
          >
        </li>
      </ul>
      <div style="background-color: {% if darkmode %} #212529 {% else %} #eee {% endif %};
                  border-color: #373b3e"
           class="p-3 pt-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <h5 for="mediaSearch" class="{% if darkmode %} text-white {% endif %}">Change Password of User</h5>
                <form class="d-flex flex-column"
                      action="{{ url_for('panel_bluep.admin_bluep.change_user_pw')}}"
                      method="post">
                  <label class="form-label">User Email</label>
                  <input type="search"
                         id="userSearchPw"
                         placeholder="Search Emails"
                         name="user"
                         autocomplete="off"
                         class="form-control {% if darkmode %} bg-dark text-white border-dark {% endif %}"
                         required/>
                  <ul class="list-group d-none"
                      style="border-radius: 0rem 0rem 0.375rem 0.375rem"
                      id="userSearchPwResults">
                  </ul>
                  <label class="form-label">New Password</label>
                  <input type="text"
                         id="userSearch"
                         placeholder="New Password"
                         name="password"
                         autocomplete="off"
                         class="form-control {% if darkmode %} bg-dark text-white border-dark {% endif %}"
                         required/>
                  {{ pw_user_error if pw_user_error }}
                  <button class="btn btn-primary mt-3">Submit</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <h5 for="mediaSearch" class="{% if darkmode %} text-white {% endif %}">Delete User</h5>
                <form class="d-flex flex-column"
                      action="{{ url_for('panel_bluep.admin_bluep.del_user')}}"
                      method="post">
                  <label class="form-label">User Email</label>
                  <input type="search"
                         id="userSearchDel"
                         placeholder="Search Emails"
                         name="user"
                         autocomplete="off"
                         class="form-control {% if darkmode %} bg-dark text-white border-dark {% endif %}"
                         required/>
                  <ul class="list-group d-none"
                      style="border-radius: 0rem 0rem 0.375rem 0.375rem"
                      id="userSearchDelResults">
                  </ul>
                  {{ del_user_error if del_user_error }}
                  <button class="btn btn-danger mt-3">Delete</button>
                </form>
              </div>
            </div>
            <div class="mt-3">
              <div class="card shadow">
                <div class="card-body">
                  <h5 for="mediaSearch" class="{% if darkmode %} text-white {% endif %}">Create new Admin/Staff Account</h5>
                  <a href="{{ url_for('auth_bluep.signup')}}">
                    <div class="d-flex flex-column">
                      <button class="btn btn-primary">Create</button>
                    </div>
                  </a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
  {% if darkmode %}
  let colors = {
    text_color: "white",
    bg_color: "#121212",
    border_color: "#212529",
    hover_color: "rgba(255, 255, 255, 0.15)",
  };
  {% else %}
  let colors =  {
    text_color: "black",
    bg_color: "white",
    border_color: "rgba(0, 0, 0, 0.125)",
    hover_color: "rgb(233, 236, 239)"
  }
  {% endif %}

  const userSearchPwEl = document.getElementById("userSearchPw");
  const userSearchPwResultsEl = document.getElementById("userSearchPwResults");

  registerMiniSearch(userSearchPwEl, userSearchPwResultsEl, "/api/admin/mini_search/users", colors);

  const userSearchDelEl = document.getElementById("userSearchDel");
  const userSearchDelResultsEl = document.getElementById("userSearchDelResults");

  registerMiniSearch(userSearchDelEl, userSearchDelResultsEl, "/api/admin/mini_search/users", colors);
    </script>
  {% endblock %}
